*{
    margin:0;
    

}
@font-face{
    font-family:cursive ;
    src: url();
}

section{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
  
    flex-direction: column;
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    flex-direction: row;
  
   
}

nav>img{
    height: 95%;
    transform: scaleX(1.1);
    
}
.nav-items{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav-items a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
}
.nav-items a:hover{
  color: red;
   transform: scale(1.08);

}


   
.homebanner{
    height: calc(100vh - 70px);
    width: 100%;
 
    background: url("https://www.mahindra.com/sites/default/files/2025-01/Mahindra_BE-6%26-XEV-9-Banner-Global-Premiere-Banner_REVISED.webp") center no-repeat;
    background-size: cover;
    display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  position: relative;
}

.home-banner-text{
  color: #fff;
  position: absolute;
 
  margin-left: 5%;
  display: flex;
  flex-direction: column; 

  animation: fadeIn 1.5s ease-in-out forwards;
} 
 
.home-banner-text h1 {
  font-family: "LucentraRegular-DY42R";
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.home-banner-text p {
  font-size: 1.05rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .nav-items {
    width: 80%;
    flex-wrap: wrap;
  }

  .home-banner-text {
    left: 25px;
    top: 0;
  }

  .home-banner-text h1 {
    font-size: 2.5rem;
  }

  .home-banner-text p {
    font-size: 1rem;
  }
}



.cars {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
}
.car-section>img{
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.car-section img {
  width: 85%;
  height: 100%;
  object-fit: cover;
}



.car-section:hover {
  transform: scale(1.05);
}

.car-section p {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: white;
  font-size: 1 rem;
  font-weight: 300;
  text-shadow: 2px 2px 5px black;
  
}

.faqs{
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 30px;
}


.faqs>.faq-item{
  width: 100%;
  height: 80vh;
  /* background-color: aliceblue; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faqs button{
  background-color: #f11616;
  border: none;
  height: 60px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

}

.faq-item section{
  background-color: #ec6a6a44;
  height: 0px;
  display: grid;
  place-items: center;
  text-align: center;
 
  visibility: hidden;
 

}

.faq-item button:focus{
  border-radius: 15px 15px 0 0 ;
}
.faq-item button:focus+section{
  transition: height 0.5s ease-in;
  
  height: 100px;
  visibility: visible;
  border-radius: 0 0 15px 15px;
}



.quick-links{
  height:55vh;
 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#f9f9f9;
  opacity:0;transform:translateY(50px);
  animation:fadeUp 1s ease-out forwards;
  animation-timeline:view();
  animation-range:entry 30% cover 40%;
  
}

@keyframes fadeUp{
  to{opacity:1;transform:translateY(0);}
}

.links{
  display:flex;
  gap:20px;
  margin-top:30px;
  width: 90%;
  flex-wrap:nowrap;
  justify-content:center;
  overflow: hidden;
}
.links div{
  position:relative;
  width:280px;
  height:160px;
  overflow:hidden;
  border-radius:10px;
  box-shadow:0 3px 10px rgba(0,0,0,.1);
}
.links img{
  width:100%;
  height:100%;
  object-fit:cover;
  filter:brightness(.8);
}
.links span{
  position:absolute;
  bottom:10px;
  color:#fff;
  font-size:1.1rem;
  left: 20px;
}


.footer {
  background: #fff;
 
  width: 100%;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px 20px;
  position: relative;
}


.logo {
  align-self: flex-start;
  font-size: 20px;
  font-weight: bold;
  color: #e60012;
  margin-bottom: 25px;
}
.logo img{
  height: 95%;
  width: 200px;
  object-fit: contain;
}



.mahindra {
  font-family: "Segoe UI", Arial, sans-serif;
  text-transform: lowercase;
}

/* Columns */
.footer-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.column h4 {
  color:black;
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.column ul {
  list-style: none;
}

.column ul li {
  margin-bottom: 8px;
}

.column ul li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.column ul li a:hover {
  color: #e60012;
}

/* Social Icons */
.social-icons {
  position: absolute;
  top: 40px;
  right: 60px;
}

.social-icons a {
  color: #333;
  font-size: 18px;
  margin-left: 15px;
  transition: color 0.3s ease, transform 0.2s;
}

.social-icons a:hover {
  color: #e60012;
  transform: scale(1.1);
}

/* Footer bottom */
.footer-bottom {
  background: #e60012;
  color: #fff;
  text-align: center;
  /* padding: 5px 5px; */
  font-size: 13px;
 
  display: flex;
  gap: 10px;
}

.footer-bottom .links {
  margin-bottom: 8px;
  left: 10px;
}

.footer-bottom .links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-bottom .links a:hover {
  text-decoration: underline;
}
.footer-bottom p{
  width: 700px;
  margin-top: 27px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    padding: 30px 20px;
  }

  .social-icons {
    position: static;
    margin-top: 15px;
  }

  .logo {
    align-self: center;
    text-align: center;
  }
}
  
  
  


